body{
    background-color: green;
    color: white;
    font-family: "Funnel Display", sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: green;
    color: white;
    font-family: "Funnel Display", sans-serif;
}
.passo{
    display: none;

}
.passo.ativo{
    
}